@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

:root {
  /* Neutral */
  --light-gray: hsla(220, 38%, 97%, 1);
  --light-bluish: hsla(216, 47%, 78%, 1);
  --gray-navy: hsla(219, 13%, 44%, 1);
  --navy: hsla(216, 27%, 32%, 1);
  --dark-navy: hsla(216, 25%, 25%, 1);
  --purple: hsla(277, 91%, 56%);
  --pure-white: hsla(0, 0%, 100%, 1);
  --red: hsla(0, 82%, 63%, 1);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 0.938rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Rubik", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
}
