@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Neutral */
  --light-gray: hsla(220, 38%, 97%, 1);
  --light-bluish: hsla(216, 47%, 78%, 1);
  --gray-navy: hsla(219, 13%, 44%, 1);
  --navy: hsla(216, 27%, 32%, 1);
  --dark-navy: hsla(216, 25%, 25%, 1);
  --purple: hsla(277, 91%, 56%);
  --pure-white: hsla(0, 0%, 100%, 1);
  --red: hsla(0, 82%, 63%, 1);
  --yellow: hsla(49, 100%, 58%, 1);
  --green: hsla(163, 100%, 41%, 1);
}

.chakra-ui-dark {
  background-image: url("../images/pattern-background-desktop-dark.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  min-height: 100vh !important;
  background-color: var(--dark-navy) !important;
}

.chakra-ui-light {
  background-image: url("../images/pattern-background-desktop-light.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  min-height: 100vh !important;
  background-color: var(--light-gray) !important;
}

body > #root > div {
  height: 100vh;
}

html {
  font-size: 0.938rem;
}

button {
  border: 3px solid transparent;
}

.active-answer {
  border: 3px solid var(--purple);
}
.correct-answer {
  border: 3px solid var(--green);
}
.wrong-answer {
  border: 3px solid var(--red);
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 375px) {
  body > #root > div {
    height: auto;
  }
}
